.vs/
**/bin/
**/obj/
/BacklogTracker.Web/Logs/
/BacklogTracker.Web/Properties/PublishProfiles
/BacklogTracker.Web/BacklogTracker.Web.csproj.user
/BacklogTracker.Web/App_Data/DataProtectionKeys/key-7aa71e5d-4eb2-4779-8cfe-f82a0bc97c03.xml
/BacklogTracker.Web/App_Data/DataProtectionKeys
