@page
@using BacklogTracker.Areas.Users.Pages
@model IndexModel
@{
}

<ul>
	@foreach(var user in Model.Users)
	{
		<li>
			<a asp-area="Users" asp-page="/UserPage">@user.UserName</a> <!--TODO: Figure out how to add query string to url-->
		</li>
	}
</ul>