@page
@model BacklogTracker.Areas.Users.Pages.UserPageModel
@{
	var games = Model.GamesList;
	var userName = Model.User.Identity?.Name ?? "User";
}

@if (games != null && games.Any())
{
	<h1>@userName's backlog:</h1>
	<ul>		
		@foreach (var game in games)
		{
			<li>
				<a href="@game.SiteDetailUrl" target="_blank">@game.Name</a>
			</li>
		}
	</ul>
}
else
{
	<p>This user has not added any games to their backlog.</p>
}