@page
@model BacklogTracker.Areas.Users.Pages.UserPageModel
@{
	var games = Model.GamesList;
}

<ul>
	@if (games != null && games.Any())
	{
		foreach (var game in games)
		{
			<li>@game</li>
		}
	}
</ul>