@page
@using BacklogTracker.Areas.Users.Pages
@model IndexModel
@{
	var users = Model.Users;
}

<ul>
	@if (users != null)
	{
		@foreach (var user in users)
		{
			<li>
				<a asp-area="Users" asp-page="/UserPage" asp-route-userId="@user.Id">@user.UserName</a>
			</li>
		}
	}
</ul>