@page
@model GamesModel
@{
	ViewData["Title"] = "Games";
	ViewData["ActivePage"] = ManageNavPages.Games;

	var games = Model.Backlog?.Games;
	var user = Model.User.Identity;
}

<h3>@ViewData["Title"]</h3>
@* <partial name="_StatusMessage" for="StatusMessage" /> *@


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<div>
	<ul class="games-list">
		@if (games != null && games.Any())
		{
			@foreach (var game in games)
			{
				<li>
					<button type="button" class="btn btn-danger" onclick="removeFromBacklog(this,'@user?.Name?.Trim()')")>X</button>
					<a href="@game.SiteDetailUrl" target="_blank" data-game-id="@game.Id">@game.Name</a>
				</li>
			}
		}
	</ul>
</div>