@page
@model GamesModel
@{
    ViewData["Title"] = "Games";
    ViewData["ActivePage"] = ManageNavPages.Games;
}

<h3>@ViewData["Title"]</h3>
@* <partial name="_StatusMessage" for="StatusMessage" /> *@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
