@page
@model GamesModel
@{
	ViewData["Title"] = "Games";
	ViewData["ActivePage"] = ManageNavPages.Games;

	var games = Model.Backlog?.Games;
}

<h3>@ViewData["Title"]</h3>
@* <partial name="_StatusMessage" for="StatusMessage" /> *@


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<div>
	<ul>
		@if (games != null && games.Any())
		{
			@foreach (var game in games)
			{
				<li>@game.Name</li>
			}
		}
	</ul>
</div>